@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Roboto:wght@300;700&display=swap');

*{
    margin:0;
    padding:0;
}
body{
    margin-top: 75px;
}
header{
    background-color: rgb(26, 26, 26); 
    height: 75px;
    border-bottom:3px solid #025752;
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2000;
    opacity: 0.95;
}

.logo-header{
    height: 75px;
    width: 75px;
}

header img{
    height: 84px;
    width: 84px;
    transition: 0.5s;
}
header img:hover{
    scale: 1.1;
}
.menu{
    align-self: center;
}
.menu a{
    text-decoration:none;
    color:inherit;
    font-size:13px;
} 
.menu li{
    display:inline-block;
    width:105px;
    padding: 5px;
    background-color: #303030;
    border: 2px solid #303030;
    text-align:center;
    color:#e4e4e4;
    font-family: 'Roboto', sans-serif;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.2s;
}
.menu li:hover{
    background-color:#000;
    border:2px solid #025752;
    color:#fff;
}
.menu-movil{
    display: none;
}

/* A PARTIR DE ACA EL CSS DEL MAIN */

.banner{
    width: 100%;
    height: 480px;
    background-image: url(../images/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.texto-inicial{
    height: 200px;
    width: 350px;
    border-radius: 20px;
    background-color: #025752;
    color: #fff;
    opacity: 0.9;
    padding: 40px;
    position: absolute;
    top: 30%;
    left: 20%;
    z-index: 100;
    font-family: 'Roboto', sans-serif;
}
.texto-inicial h1{
    margin-top: -10px;
}

a button{
    background-color: #fff;
    color: #025752;
    border: 2px solid #025752;
    font-size: 16px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 20px;
    cursor: pointer;
}
a button:hover{
    background-color: #025752;
    color: #fff;
    border: 2px solid #fff;

}

.tarjetas-servicios{
    height: auto;
    padding: 40px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}
.tarjetas-servicios h2{
    display: flex;
    justify-content: center;
}

.grupo-tarjetas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.tarjeta{ 
    width: 250px;
    height: 300px;
    border: 0px solid #025752;
    padding: 20px;
    border-radius: 20px;
    background-color: #eeeeee;
    margin-top: 30px; 
    box-shadow: 8px 8px 12px 0px rgba(0,0,0,0.66);
    text-align: center;
    transition: 0.5s;

}
.tarjeta:hover{
    scale: 1.01;

}
.tarjeta h3{
    margin-top: 10px;
    margin-bottom: 10px;
}
.testimonio-clientes{
    height: 600px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    background-color: #eeeeee;
}
.testimonio-clientes h2{
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
    margin-top: 30px;
}
.testimonio{
    
    display: flex;
    flex-direction: row;
    height: 200px;
    gap: 40px;
    margin-left: 50px;
    margin-right: 50px;
    align-items: center;
}
.testimonio-clientes img{
    height: 100px;
    width: 100px;
    background-repeat:no-repeat;
    border-radius: 50%;
    border: 1px solid #025752;
    
}
.llamado-accion{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
    font-family: 'Roboto', sans-serif;
    gap: 30px;
    margin-bottom: 40px;
    margin-top: 30px;
}

/* CSS PAGE QUE HACEMOS */
.main-qh{
    margin-bottom: 50px;
    margin-left: 10%;
    margin-right: 10%;
}
.titulo-qh{
    text-align: center;
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
}
.tarjetas-quehacemos{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tarjetaqh{ 
    height: 100px;
    padding: 20px;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    background-color: #eeeeee;
    margin-top: 30px; 
    box-shadow: 8px 8px 12px 0px rgba(0,0,0,0.66);
}    

/* CSS PAGE SOBRE NOSOTROS */

.main-sn{
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 50px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.titulo-sn{
    text-align: center;
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
}
.main-sn p{
    font-family: 'Roboto', sans-serif;
}

/* CSS PAGINA CONTACTO */

.main-contacto{
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 50px;
    margin-bottom: 80px;
}

.mapa-form{
    display: flex;
    flex-direction: column;
}
.mapa-form iframe{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}
.mapa-form .formulario{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;

} 

.form-control {
    background-color: #e6e6e6;
    border-radius: 30px;
    border-color: #e6e6e6;
}

.btn{
    border-radius: 30px;
    width: 100%;
    background-color: #025752;
    border-color: #eeeeee;
}
.btn:hover{
    background-color: #e6e6e6;
    border-color: #025752;
    color: #025752;
}
/* CSS PAGINA PROYECTOS */
.main-proy{
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 30px;
    margin-bottom: 80px;
    font-family: 'Roboto', sans-serif;

}
main h1{
    margin-top: 40px;
    margin-bottom: 30px;
    display: flex;

}
.item-1{
    grid-column: 1/3;
    grid-row: 1/2;
}
.item-2{
    grid-column: 2/4;
    grid-row: 2/3;
}
.item-3{
    grid-column: 1/2;
    grid-row: 2/4;
}
.item-4{
    grid-column: 3/4;
    grid-row: 1/2;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 20px;
}
.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    overflow: hidden;
    transition: 0.2s;
}  
.grid-item:hover{
    scale: 1.05;
}
  .grid-item img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

/* A PARTIR DE ACA EL CSS DEL FOOTER */
footer{
    border-top: 3px solid #025752;
    font-family: 'Oswald', sans-serif;
    background-color: rgb(26, 26, 26); 
    display: flex;
    justify-content: space-around;
    height: auto;
    font-size: 13px;
}
.izq-footer{
    color: #14c9c0;
    padding: 10px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer p{
    text-align: center;
}

.logo-footer{
    height: 100px;
    width: 100px;
    transition: 0.5s;
}
.logo-footer:hover{
    scale: 1.1;
}
.firma{
    width: 30%;
    color: #535353;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.rrss{
    width: 30%;
    display: flex;
    align-self: center;
    justify-content: space-evenly;
}
.rrss li{
    display: inline-block;
    width: 60px;
    height: 40px;
}
.rrss img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition: 0.5s;
}
.rrss img:hover{
    scale: 1.1;
}
@media screen and (max-width:490px){
    
    .logo-header{
        margin: auto;
    }
    .menu ul {
        display: none;
    }

/* INICIO MENU MOVIL */
    .menu-movil{
        display: block;
        align-self: center;
        position: fixed;
        bottom: 0;
        height: 30px;
        width: 100%;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        background-color: #000000;
        color: #fff;
        opacity: 0.9;
        border-top: 1px solid #025752;
        z-index: 2000;
    }
    .menu-movil a{
        text-decoration:none;
        color:inherit;
        font-size:13px;
    } 
    .menu-movil ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2px;
        padding: 0;
        margin: 0;
    }
    .menu-movil li{
        display: inline-block;
        width: 20%;
        border: 1px solid #ddd;
        padding: 2px;
        background-color: #303030;
        text-align:center;
        color:#e4e4e4;
        font-family: 'Roboto', sans-serif;
        border-radius: 3px;
        cursor: pointer;
        font-size: 80%;
        
    }
    .menu-movil li:hover{
        background-color:#000;
        border:2px solid #025752;
        color:#fff;
    }
/* FIN MENU MOVIL */

    .banner{
        height: 400px;
    }
    .texto-inicial{
        height: auto;
        width: auto;
        top: 150px;
        left: 5%;
        right: 15%;
        font-size:85%;
    }
    .texto-inicial h1{
        margin-top: -20px;
    }
    .testimonio-clientes{
        height: auto;
    }
    .testimonio{
        flex-direction: column;
        height: auto;
        margin: 30px;
    }
    footer{
        flex-direction: column;
        justify-content: center;
        height: auto;
        font-size: 12px;
        padding: 10px;
        padding-bottom: 30px;
    }
    .izq-footer{
        width: 90%;
    }
    .firma{
        display: none;
    }
    .rrss{
        width: 100%;
    }
    .tarjetaqh{ 
        height: auto;
    }   
    .item-1{
        grid-column: 1/3;
        grid-row: 1/2;
    }
    .item-2{
        grid-column: 1/3;
        grid-row: 4/5;
    }
    .item-3{
        grid-column: 1/2;
        grid-row: 2/4;
    }
    .item-4{
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .item-5{
        grid-column: 2/3;
        grid-row: 3/4;
    }
    .grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    }
    #menu_icon {
        display: block;
    }
    .menu-movil{
        display: block;
    }
}
@media screen and (min-width:491px) and (max-width:768px){

    .logo-header{
        margin: auto;
    }
    .menu ul {
        display: none;
    }

/* INICIO MENU MOVIL */
    .menu-movil{
        display: block;
        align-self: center;
        position: fixed;
        bottom: 0;
        height: 30px;
        width: 100%;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        background-color: #252525;
        color: #fff;
        opacity: 0.9;
        border-top: 1px solid #025752;
        z-index: 2000;
    }
    .menu-movil a{
        text-decoration:none;
        color:inherit;
        font-size:13px;
    } 
    .menu-movil ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2px;
        padding: 0;
        margin: 0;
    }
    .menu-movil li{
        display: inline-block;
        width: 20%;
        border: 1px solid #ddd;
        padding: 2px;
        background-color: #252525;
        text-align:center;
        color:#e4e4e4;
        font-family: 'Roboto', sans-serif;
        border-radius: 3px;
        cursor: pointer;
        font-size: 80%;
    }
    .menu-movil li:hover{
        background-color:#000;
        border:2px solid #025752;
        color:#fff;
    }
/* FIN MENU MOVIL */

    .banner{
        height: 400px;
    }
    .texto-inicial{
        height: auto;
        width: auto;
        top: 150px;
        left: 5%;
        right: 10%;
        font-size:90%;
    }
    .texto-inicial h1{
        margin-top: -20px;
    }
    .testimonio-clientes{
        height: auto;
    }
    .testimonio{
        flex-direction: column;
        height: auto;
        margin: 30px;
    }
    footer{
        flex-direction: column;
        justify-content: center;
        height: auto;
        font-size: 12px;
        padding: 10px;
        padding-bottom: 30px;
    }
    .izq-footer{
        width: 90%;
    }
    .firma{
        display: none;
    }
    .rrss{
        width: 100%;
    }
    .tarjetaqh{ 
        height: auto;
    }   
    .item-1{
        grid-column: 1/3;
        grid-row: 1/2;
    }
    .item-2{
        grid-column: 1/3;
        grid-row: 4/5;
    }
    .item-3{
        grid-column: 1/2;
        grid-row: 2/4;
    }
    .item-4{
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .item-5{
        grid-column: 2/3;
        grid-row: 3/4;
    }
    .grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    }
    #menu_icon {
        display: block;
    }
    .menu-movil{
        display: block;
    }
}
@media screen and (min-width:769px) and (max-width:1024px){
    
    .tarjetaqh{ 
        height: auto;
    }

}
