/* CSS PAGE QUE HACEMOS */
.main-qh{
    margin-bottom: 50px;
    margin-left: 10%;
    margin-right: 10%;
}
.titulo-qh{
    margin-top: 120px;
    font-family: $font-1;
}
.tarjetas-quehacemos{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tarjetaqh{ 
    height: auto;
    padding: 20px;
    border-radius: 20px;
    font-family: $font-1;
    background-color: $color-5;
    margin-top: 30px; 
    box-shadow: 8px 8px 12px 0px rgba(0,0,0,0.66);
}    
.tarjetaqh h2{
    margin-bottom: 15px;
}
.contenido-tarjeta{
    display: flex;
    gap: 30px;
}
.tarjetaqh img{
    width: 30%;
    height: 30%;
    align-self: center;
}
/* CSS PAGE SOBRE NOSOTROS */
.body-sn{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.main-sn{
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}
.titulo-sn{
    margin-bottom: 30px;
    font-family: $font-1;
}
.main-sn p{
    font-family: $font-1;
}

/* CSS PAGINA CONTACTO */
.main-contacto{
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 50px;
    margin-bottom: 80px;
    font-family: $font-1;
}
.main-contacto h1{
    margin-top: 100px;
    font-family: $font-1;
}
.mapa-form{
    display: flex;
    flex-direction: column;
}
.mapa-form h2{
    font-family: $font-1;
}
.mapa-form iframe{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}
.mapa-form .formulario{
    margin-top: 20px;
    margin-bottom: 30px;
}
.form-control {
    background-color: $color-5;
    border-radius: 30px;
    border-style: none;
    height: 10px;
    padding: 8px;
}
.form-control:focus{
    outline: none;
    border: 2px solid $color-1;
}
.formulario {
    .nombre, .telefono, .email, .textarea{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 10px;
    }
}
.formulario .textarea .form-control{
    border-radius: 10px;
}
.btn{
    border-radius: 30px;
    width: 100%;
    background-color: $color-1;
    border-style: none;
    height: 30px;
    color: $color-4;
    margin-top: 10px;
}
.btn:hover{
    background-color: $color-5;
    border: 2px solid $color-1;
    color: $color-1;
}
/* CSS PAGINA PROYECTOS */
.main-proy{
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 50px;
    margin-bottom: 80px;
    font-family: $font-1;

}
.main-proy h1{
    margin-top: 120px;
    margin-bottom: 30px;
    display: flex;

}
.item-1{
    grid-column: 1/3;
    grid-row: 1/2;
}
.item-2{
    grid-column: 2/4;
    grid-row: 2/3;
}
.item-3{
    grid-column: 1/2;
    grid-row: 2/4;
}
.item-4{
    grid-column: 3/4;
    grid-row: 1/2;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 20px;
}
.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-4;
    overflow: hidden;
    transition: 0.2s;
}  
.grid-item:hover{
    scale: 1.05;
}
  .grid-item img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;   
}


@media screen and (max-width:490px){
    .contenido-tarjeta{
        display: flex;
        flex-direction: column-reverse;
        gap: 30px;
    }
    .tarjetaqh img{
        width: 70%;
        height: 70%;
    }
    .tarjetaqh{ 
        height: auto;
    }   
    .item-1{
        grid-column: 1/3;
        grid-row: 1/2;
    }
    .item-2{
        grid-column: 1/3;
        grid-row: 4/5;
    }
    .item-3{
        grid-column: 1/2;
        grid-row: 2/4;
    }
    .item-4{
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .item-5{
        grid-column: 2/3;
        grid-row: 3/4;
    }
    .grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    }
}


@media screen and (min-width:491px) and (max-width:768px){
    .contenido-tarjeta{
        display: flex;
        flex-direction: column-reverse;
        gap: 30px;
    }
    .tarjetaqh img{
        width: 70%;
        height: 70%;
    }
    .tarjetaqh{ 
        height: auto;
    }   
    .item-1{
        grid-column: 1/3;
        grid-row: 1/2;
    }
    .item-2{
        grid-column: 1/3;
        grid-row: 4/5;
    }
    .item-3{
        grid-column: 1/2;
        grid-row: 2/4;
    }
    .item-4{
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .item-5{
        grid-column: 2/3;
        grid-row: 3/4;
    }
    .grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    }
}


@media screen and (min-width:769px) and (max-width:1024px){
    .tarjetaqh{ 
        height: auto;
    }
}