$color-1: #025752;
$color-2: rgb(26, 26, 26);
$color-3: #303030;
$color-4: #fff;
$color-5: #e6e6e6;
$color-6: #535353; 

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Roboto:wght@300;700&display=swap');

$font-1: 'Roboto', sans-serif;
$font-2: 'Oswald', sans-serif;
